body {
    background-color: #e9e9e9;
    position: relative;
}
.hidden {
    visibility: hidden;
}
.page-content {
    padding: 15px;
    margin: auto;
    width: 60%;
}
.demo-card-wide {
    background-color: #e1e1e1;
}
.mdl-card__title {
    background-color: #414141;
    color: #e9e9e9;
}
.mdl-card__title-text {
    color:#e1e1e1 ;
}
.mdl-textfield {
    width:100%;
}
.task-form{
    padding: 2%;
}
.task-form-group {
    width: 100%;
}
.mdl-layout__header {
    background-color: #AA3939;
}
.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    color: #1e1e1e;
    height: 300px;
}
.demo-card-wide > .mdl-card__menu {
    color: #1e1e1e;
}
.holder {
    margin-top: 40px;
    background-color: #474747;
    color: #e1e1e1;
    padding: 10px;
}
.mdl-card__supporting-text  {
    color: #e9e9e9;
}
.itemsBody {
    background-color: #4f4f4f;
}
.itemsMenu p {
    margin: 15px 10px auto auto;
    color: #e9e9e9;
}
.dataSpan {
    display: inline-flex;
}
.dataText {
    margin-right: 15px;
}
.dataIcon {
    margin-right: 5px;
}
.itemMenuHeader {
    display: block;
}
.dataClose i{
    color: #e9e9e9;
}
.dataDelete {
    color: #e9e9e9;
}

